@charset "utf-8";

h1{
    margin: 0;
}
ul{
    padding-inline-start: 0;
}

header{
    width: 100%;
    height: 62px;
    display: flex;
    margin: 0 auto;
}
header h1{
    width: 200px;
    margin: 10px auto 0 auto;
}
#logo{
    display: inline-block;
    height: auto;
    width: auto;
    padding: 0px 0 0px 0;
    vertical-align: middle;
}
#logo.a{
    display: inline;
    line-height: inherit;
    vertical-align: baseline;
}
nav{
    /*position: absolute;*/
    /*display: flex;
    width: 300px;
    height: 15px;
    margin: 20px 5% 0 auto;
    */
    position: absolute;
    inset: 1.5rem 5% auto auto;
    z-index: 11;
    display: flex;
}
.header-nav{
    width: auto;
    height: 24px;
    margin: auto;
    vertical-align: middle;
}
.li_home{
    width: 3.75em;
}
.header-nav li{
    display: inline-block;
    width: 4.75em;
    height:24px;
    /*gap: 16px;*/
    padding: 0;
    margin: 0px;
}
.header-nav li a {
    color: #222;
    text-decoration: none;
    font-size: 0.95em;
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s;
    }
.header-nav li a:hover {
text-decoration: underline;
color: #e94824;
}
.header-nav li a::after {
content: "";
position: absolute;
left: 0; bottom: 0;
width: 100%;
height: 1.5px;
background: #4fc3f7;
transform: scaleX(0);
transition: transform 0.3s;
}
.header li a:hover::after {
transform: scaleX(1);
}
#intro_content{
    position:relative;
    display: block;
    width: 600px;
    height:auto;
    /*top:830px;*/
    margin: 0 auto;
}
#main_intro{
    width:300px;
    margin: auto auto;
}
.large_logo{
    width: auto;
    vertical-align: middle;
}
p.intro{
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}
p.center{
    text-align: center;
}
#sns_link{
    width:160px;
    margin:0px auto;
}
.sns-nav {
    height: 75px;
}
.sns-nav li.sns{
    width: 75px;
    height: 75px;
    margin: 0px 0;
    list-style: none;
    display: inline-block;
}
.sns-nav li img{
    margin: 10px 10px;
}
#main_wrapper{
    max-width:1400px;
    margin: 0 auto;
    display: grid;
}
#main_content{
    max-width:100%;
    height :auto;
    margin:0px 0 10px;
    border-top: 1px solid #222 ;
    border-bottom: 1px solid #222 ;
}

#main_hero_img{
    /*z-index: -1;*/
    max-width:100%;
    height :auto;
    /*background-image:url("../images/bukimi_hero_banshee.jpg");*/
    background-position:center;
}
#hero_img_sp{
    /*z-index: -1;*/
    display:none;
    max-width:100%;
    height :800px;
    /*background-image:url("../images/bukimi_hero_banshee.jpg");*/
}

.head_nav{
    display:block;
}
footer {
    width:100%;
    /*background: linear-gradient(90deg, #222, #444);*/
    color: #222;
    padding: 10px 10px;
    margin: 0 auto;
    display: block;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.p_footer{
    width:100%;
    text-align:center;
}

/*メディアクエリ*/

@media screen and (max-width: 768px) {
  #main_wrapper {
    /*display: grid;*/
    width: 100%;
  }
  header h1{
    margin-block-start: 0;
    margin-block-end: 0;
    height:42px;
    margin: 5px auto 0 auto;
}
  #main_hero_img{
    height: auto;
    background-position: 80% 15%;
    background-repeat: no-repeat;
    }
    #intro_content{
        position: relative;
        width: 100%;
    }
    #hero_img{
    /*z-index: -1;*/
    display:none;
    }
    #hero_img_sp{
    /*z-index: -1;*/
    display:block;
    width:100%;
    height :auto;
    
}
  .large_logo{
    width: 100px;
    margin:auto;
    display: block;
  }
  #main_content{
    top: 800px;
    height: auto;
  }
}
/*
@media screen and (max-width: 800px) {
  #main_wrapper{

  }
  
#main_content {
    display: block;
    flex-direction: row-reverse;
    width: 100%;
  }
  #nav{
    margin:0 0 auto auto;
  }
}*/